.btn-snow {
  border-radius: 2rem;
  background-color: #5581ff;
  padding: 0.5rem 2.5rem;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    background-color: #5581ff;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s ease;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
.btn-primary {
  &:hover {
    background-color: #0069d9 !important;
  }
}
.btn-white {
  border-radius: 2rem;
  background-color: #5581ff;
  padding: 0.5rem 2.5rem;
  position: relative;
  overflow: hidden;
}