.main-slider {
  overflow: hidden;
  .slick-active {
    .slider-text {
      transform: translateX(0) !important;
      transition: all 0.5s ease;
      margin-top: 2rem;
      h1{
        margin-bottom: 1rem;
      }
      p{
        margin-bottom: 2rem;
      }
    }
    .slider-item {
      transform: translateX(0) !important;
      transition: all 0.8s ease;
    }
  }
  .slider-content {
    width: 100%;
    position: relative;
    padding-bottom: 4rem;
    img {
      width: inherit;
    }
    .slider-text {
      position: absolute;
      z-index: 6;
      color: #fff;
      width: 20%;
      top: 15%;
      left: 20%;
      transform: translateX(-200%);
      p {
        color: #a1a2a3;
      }
    }
    .slider-item {
      z-index: 5;
      position: absolute;
      width: 58%;
      bottom: 0;
      right: 10%;
      transform: translateX(100%);
      img {
        width: 100%;
      }
    }
  }

  .slick-next {
    right: 2rem;
    z-index: 2;
    top: 35%;
    background-image: url(../images/next-slick.png);
    background-size: cover;
    width: 3rem;
    height: 3rem;
    &::before {
      content: "";
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .slick-prev {
    left: 2rem;
    z-index: 2;
    top: 35%;
    background-image: url(../images/prev-slick.png);
    background-size: cover;
    width: 3rem;
    height: 3rem;
    &::before {
      content: "";
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

// cascade-slider
.cascade-slider_container {
  .cascade-slider_slides {
    .now {
      .slider-body {
        display: block;
        opacity: 1;
        width: 590px;
        ul {
          padding: 0;
          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .cascade-slider_item {
      top: 56%;
    }
    .next {
      left: 34%;
      border: 1px solid #cbcac9;
      height: 15rem;
      width: 15rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      .slider-body {
        display: none;
        opacity: 0;
      }
      h1 {
        font-size: 32px;
      }
    }
    .prev {
      right: 10% !important;
      left: auto;
      border: 1px solid #cbcac9;
      height: 15rem;
      width: 15rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      .slider-body {
        display: none;
        opacity: 0;
      }
      h1 {
        font-size: 32px;
      }
    }
  }
}

.cascade-slider_arrow-left {
  transition: 0.5s;
  &:hover {
    filter: drop-shadow(0px 0px 5px #5581ff);
  }
}
.cascade-slider_arrow-right {
  transition: 0.5s;
  &:hover {
    filter: drop-shadow(0px 0px 5px #5581ff);
  }
}

.rates-slider-mobile {
  display: none;
  .slider-content {
    padding: 2rem;
    .slider-header {
      img {
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .main-slider {
    .slick-slide {
      height: 360px !important;
      .slider-text {
        width: auto !important;
        left: 0 !important;
        padding: 1rem;
        text-align: center;
        top: 0;
        p {
          display: none;
        }
      }
      .slider-item {
        bottom: auto;
        .ip-phone {
          display: none;
        }
      }
    }
    .slick-prev{
      left: .5rem;
    }
    .slick-next{
      right: .5rem;
    }
  }
  .cascade-slider_container {
    display: none;
  }
  .rates-slider-mobile {
    background-color: #f5f4f3;
    display: block;
    margin-bottom: 20px !important;
    .slick-next {
      right: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/next-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
      &::before {
        content: "";
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .slick-prev {
      left: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/prev-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
      &::before {
        content: "";
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .slick-dots {
      background-color: #f5f4f3;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-slider {
    .slider-text {
      width: 90% !important;
      left: 0 !important;
      padding: 0 2rem 0 4rem;
      text-align: center;
      p {
        display: none;
      }
    }
    .slider-item {
      width: 60%;
    }
  }
  .cascade-slider_container {
    display: none;
  }
  .rates-slider-mobile {
    display: block;
    .slick-next {
      right: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/next-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
      &::before {
        content: "";
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .slick-prev {
      left: 2%;
      z-index: 2;
      top: 40%;
      background-image: url(../images/prev-canvas.png);
      background-size: cover;
      width: 3rem;
      height: 3rem;
      opacity: 0.5;
      &::before {
        content: "";
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-slider {
    .slider-text {
      left: 10%;
      width: 50%;
    }
  }
  .rates {
    background-color: #f5f4f3 !important;
    .cascade-slider_container {
      width: auto;
      display: block !important;
      .prev {
        right: 7% !important;
      }
      .cascade-slider_arrow-left {
        left: -2rem;
      }
      .cascade-slider_arrow-right {
        right: -2rem;
      }
    }
  }
  .rates-slider-mobile {
    display: none;
  }
}
